.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.slideshow-container, .slides img {
    margin: auto;
    display: block;
}
.slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    transition: 0.6s ease;
    user-select: none;
    font-size: 3rem;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
.next {
    right: 0;
    border-radius: 0 3px 3px 0;
}
.button-container {
    text-align: center;
    position: relative;
}
.button-container button {
    cursor: pointer;
    padding: 10px;
    margin: 2px;
    background-color: #4d5aaf;
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1rem;
}
.button-container button:hover {
    background-color: #522f60;
}
.slides img {
    max-height: 500px; /* 固定したい最大の高さ */
    width: auto;
}
@media only screen and (max-width: 600px) {
    .slides img {
        max-height: 400px; /* スマホ用の最大高さ */
        width: auto;
    }
}