/* ゲームのプレイ記事用タブ */
/* タブのデザイン */
.tab-wrap {
    display: flex;
    flex-wrap: wrap;
}
.tab-label {
    color: #fff;
    background: lightgray;
    margin: 2px;
    padding: 5px 20px;
    order: -1;
}
.tab-content {
    width: 100%;
    display: none;
    border-bottom: 3px solid #5654a2;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
    background: #5654a2;
}
.tab-switch:checked+.tab-label+.tab-content {
     display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
    display: none;
}
