ul.tabmenu1 {
    list-style: none;
}
ul.tabmenu1 li {
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #7058a3;
    color: #fff;
    cursor: pointer;
　　font-size: 1.2em;
}
ul.tabmenu1 li:hover {
    background-color: #522f60;
}
ul.tabmenu1 li.active {
    background-color: #522f60;
    color: #fff;
}
div.tabContent1 {
    clear: both;
    padding: 10px;
    width: 90%;
    display: none;
}
div.active {
    display: block;
}

ul.tabmenu2 {
    list-style: none;
}
ul.tabmenu2 li {
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #7058a3;
    color: #fff;
    cursor: pointer;
　　font-size: 1.2em;
}
ul.tabmenu2 li:hover {
    background-color: #522f60;
}
ul.tabmenu2 li.active {
    background-color: #522f60;
    color: #fff;
}
div.tabContent2 {
    clear: both;
    padding: 10px;
    width: 90%;
    display: none;
}
div.active {
    display: block;
}

ul.tabmenu3 {
    list-style: none;
}
ul.tabmenu3 li {
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #7058a3;
    color: #fff;
    cursor: pointer;
　　font-size: 1.2em;
}
ul.tabmenu3 li:hover {
    background-color: #522f60;
}
ul.tabmenu3 li.active {
    background-color: #522f60;
    color: #fff;
}
div.tabContent3 {
    clear: both;
    padding: 10px;
    width: 90%;
    display: none;
}
div.active {
    display: block;
}

ul.tabmenu4 {
    list-style: none;
}
ul.tabmenu4 li {
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #7058a3;
    color: #fff;
    cursor: pointer;
　　font-size: 1.2em;
}
ul.tabmenu4 li:hover {
    background-color: #522f60;
}
ul.tabmenu4 li.active {
    background-color: #522f60;
    color: #fff;
}
div.tabContent4 {
    clear: both;
    padding: 10px;
    width: 90%;
    display: none;
}
div.active {
    display: block;
}

ul.tabmenu5 {
    list-style: none;
}
ul.tabmenu5 li {
    float: left;
    margin-right: 5px;
    padding: 20px;
    background-color: #7058a3;
    color: #fff;
    cursor: pointer;
　　font-size: 1.2em;
}
ul.tabmenu5 li:hover {
    background-color: #522f60;
}
ul.tabmenu5 li.active {
    background-color: #522f60;
    color: #fff;
}
div.tabContent5 {
    clear: both;
    padding: 10px;
    width: 90%;
    display: none;
}
div.active {
    display: block;
}
